<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="urdf_test">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0536637111046392 -0.125 -0.041208163265306"
        rpy="0 0 0" />
      <mass
        value="83.8656" />
      <inertia
        ixx="1.572970893312"
        ixy="6.71226037714708E-17"
        ixz="1.63663720561165E-15"
        iyy="5.973985984512"
        iyz="-1.84824057985809E-32"
        izz="5.2746150912" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_left1">
    <inertial>
      <origin
        xyz="0.00316327406113215 -0.0455000000000001 -0.0108455110667387"
        rpy="0 0 0" />
      <mass
        value="2.31566794496104" />
      <inertia
        ixx="0.00628723144289796"
        ixy="-2.52291277164528E-51"
        ixz="-1.92592994438724E-34"
        iyy="0.0093784551770922"
        iyz="-1.83249384486658E-35"
        izz="0.00628723144289796" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/wheel_left1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/wheel_left1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_left1"
    type="revolute">
    <origin
      xyz="0.17935 0.091 -0.13892"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_left1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_left2">
    <inertial>
      <origin
        xyz="0.00316327406113215 -0.0455000000000001 -0.0108455110667387"
        rpy="0 0 0" />
      <mass
        value="2.31566794496104" />
      <inertia
        ixx="0.00628723144289796"
        ixy="-1.13154807707695E-34"
        ixz="4.437207038239E-50"
        iyy="0.0093784551770922"
        iyz="-1.83249384486658E-35"
        izz="0.00628723144289796" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/wheel_left2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/wheel_left2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_left2"
    type="revolute">
    <origin
      xyz="-0.34612 -0.25 -0.14259"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_left2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_right1">
    <inertial>
      <origin
        xyz="0.00316327406113212 -0.0455000000000001 -0.0108455110667387"
        rpy="0 0 0" />
      <mass
        value="2.31566794496104" />
      <inertia
        ixx="0.00628723144289796"
        ixy="-6.08409414188332E-34"
        ixz="-2.88889491658085E-34"
        iyy="0.0093784551770922"
        iyz="-1.83249384486657E-35"
        izz="0.00628723144289796" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/wheel_right1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/wheel_right1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_right1"
    type="revolute">
    <origin
      xyz="0.20175 -0.25 -0.13766"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_right1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_right2">
    <inertial>
      <origin
        xyz="0.00316327406113215 -0.0455000000000001 -0.0108455110667387"
        rpy="0 0 0" />
      <mass
        value="2.31566794496104" />
      <inertia
        ixx="0.00628723144289796"
        ixy="0"
        ixz="0"
        iyy="0.0093784551770922"
        iyz="-1.83249384486658E-35"
        izz="0.00628723144289796" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/wheel_right2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/wheel_right2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_right2"
    type="revolute">
    <origin
      xyz="-0.37184 0.091 -0.13941"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_right2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-180"
      upper="180"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lidar">
    <inertial>
      <origin
        xyz="0.0202809724139142 0.00513784634485814 -0.015"
        rpy="0 0 0" />
      <mass
        value="0.0212057504117311" />
      <inertia
        ixx="2.78325474153971E-06"
        ixy="6.99951414347179E-54"
        ixz="-1.09482479359925E-22"
        iyy="2.78325474153971E-06"
        iyz="9.22037316782683E-39"
        izz="2.38564692131975E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/lidar.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/lidar.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar"
    type="fixed">
    <origin
      xyz="0.267046899369956 -0.138268327781424 0.190391836734694"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
