<?xml version="1.0"?>

<launch>

<node name="joystick" pkg="JoyStick" type="joystick"
  args="/dev/input/js0"/>

<node name="move_robot" pkg="move_robot" type="move_robot"
  args="/dev/pts/1 115200" output="screen"/>

<node name="AnhungControl" pkg="AnhungControl" type="AnhungControl"
  args="192.8.8.8 9930" output="screen"/>

</launch>
